<nav>
    <div>
        <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consectetur impedit dignissimos quia ratione repellendus cum alias perspiciatis aliquid ipsa molestiae, mollitia quod sequi quam tempore, laborum ipsam nihil corrupti.
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam maiores doloribus id eos reiciendis quia esse quod enim possimus porro earum quae, quos numquam dolores sed amet deserunt provident voluptatum!
           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae harum maiores dolore aliquam, id commodi libero reiciendis natus earum animi, rerum ex quaerat veritatis. Quasi molestias repudiandae sapiente tempora corrupti?
        </p>
        <button class="button" type="button">DONT PUSH ME</button>
    </div>
</nav>

<style>
    nav {
        position: relative;
        background-color: rgb(40, 0, 77);
        height: 100%;
        display: flex;
    }
    div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p{
        color: white;
        text-align: justify;
        margin: 20px;
        padding: 60px;
    }
    button{
        width: 100px;
        height: 50px;
    }
</style>